body {
    margin: 0;
    background-color: white;
    color: black;

}

.pane {

    display:flex;
    flex-direction: column;
    gap: 50px;
}

.title {

    height: 75px;
    border: 1px solid red;
    display: inline-block;
}

.game {

    display:flex;
    gap: 10px;
    justify-content: center;
}

.options {

    height: 400px;
    width: 400px;
    border-right: 1px solid rgb(148, 151, 148);
    border-bottom: 1px solid rgb(148, 151, 148);
    display: grid;
    grid-template-columns: repeat(64, 2fr);
    grid-template-rows: repeat(64, 2fr);
    margin-bottom: 50px;

}

.app {

    height: 400px;
    width: 300px;
    border: 1px solid red;
    display: inline-block;
    margin-right: 100px;
}

.box {

    border-top: 1px solid rgb(165, 169, 165);
    border-left: 1px solid rgb(165, 169, 165);

}

